@keyframes rollDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -4px;
  }
}
@keyframes rollRight {
  0% {
    right: 0;
  }
  50% {
    right: 0;
  }
  100% {
    right: -4px;
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 10px;
  scroll-behavior: smooth;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1640px;
    padding: 0 48px;
  }
}
@media (max-width: 1399px) {
  .container {
    max-width: unset;
    width: 100%;
    padding: 0 48px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
}

.container-fluid {
  padding: 0 48px;
}
@media (max-width: 992px) {
  .container-fluid {
    padding: 0 24px;
  }
}

body:not(.home) .page-content {
  padding-bottom: 72px;
}

main section {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  main section {
    margin-bottom: 30px;
  }
}

.slick-slide {
  margin: 0 24px;
}

.slick-list {
  margin: 0 -24px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.slick-dots li {
  padding: 0px;
  width: 30px;
}
@media (max-width: 992px) {
  .slick-dots {
    margin-bottom: 0;
  }
}
.slick-dots li.slick-active button {
  background-color: #072A3A;
}
.slick-dots button {
  text-indent: -9000px;
  height: 18px;
  width: 18px;
  margin: 0 12px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  background-color: rgba(17, 17, 17, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.15s ease-out;
  position: relative;
}
a:not(.button):not(.component--cta):not(.menu-link):after {
  content: "";
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  height: 1px;
  width: 100%;
  max-width: 100%;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
a:not(.button):not(.component--cta):not(.menu-link):hover:after {
  animation-name: slideAcross;
}

@keyframes slideAcross {
  0% {
    left: 0;
    max-width: 100%;
  }
  50% {
    left: 100%;
    max-width: 0;
  }
  51% {
    left: 0;
  }
  100% {
    left: 0;
    max-width: 100%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", serif;
  font-weight: 800;
  line-height: 1.2;
}

p, li, span, small, a, blockquote, td, address {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  font-weight: 300;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 8vw;
    line-height: 1.4;
  }
}
@media (max-width: 568px) {
  h1 {
    font-size: 8vw;
  }
}

h2 {
  font-size: 3.8rem;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 4.8vw;
    line-height: 1.6;
  }
}
@media (max-width: 568px) {
  h2 {
    font-size: 6vw;
  }
}

h3 {
  font-size: 3.2rem;
  margin-bottom: 12px;
  line-height: 1.4;
}
@media (max-width: 768px) {
  h3 {
    font-size: 4vw;
  }
}
@media (max-width: 568px) {
  h3 {
    font-size: 5vw;
  }
}

h4, h5, h6 {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

p + h2,
p + h3,
p + h4,
ul + h2,
ul + h3,
ul + h4 {
  margin-top: 36px;
}

p, li, a, span, blockquote, address {
  font-size: 1.8rem;
  margin-bottom: 12px;
  color: #2F3129;
}
@media (max-width: 568px) {
  p, li, a, span, blockquote, address {
    font-size: 4vw;
  }
}

i {
  font-size: 1.6rem;
}

address {
  display: inline-flex;
  text-align: left;
}

small {
  font-size: 1.2rem;
}

ul, ol {
  margin: 24px 24px;
}

.page-content a {
  text-decoration: underline;
  color: rgba(17, 17, 17, 0.8);
}
.page-content a:hover {
  color: #111111;
}

figure.wp-block-image {
  margin: 36px 0;
  display: table;
}
figure.wp-block-image figcaption {
  font-size: 1.2rem;
  line-height: 1.4;
  display: table-caption;
  caption-side: bottom;
  padding: 12px 6px;
  background-color: rgba(17, 17, 17, 0.1);
  color: rgba(17, 17, 17, 0.6);
  margin: 0;
}

small * {
  font-size: inherit;
  line-height: inherit;
}
small a {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0;
}
small a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(17, 17, 17, 0.2);
  display: inline-block;
  transition: all 0.15s ease-out;
}

/* MENUS */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.menu li {
  display: inline-block;
  margin: 0 12px;
}
.menu li:first-of-type {
  margin-left: 0;
}
.menu li:last-of-type {
  margin-right: 0;
}
.menu a {
  font-size: 24px;
  font-weight: 800;
}
.menu a:hover {
  color: #1A8FD6;
}

/* Social links */
.social-links a:hover {
  color: rgba(17, 17, 17, 0.6);
}

/* Button */
button, .button {
  border: 1px solid;
  border-radius: 0;
  padding: 10px 20px;
  text-align: right;
  background-color: red;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "Lato", serif;
  text-decoration: none !important;
  transition: all 0.25s ease-in-out;
  display: inline-block;
  font-weight: 800;
  user-select: none;
  color: white;
  width: 150px;
  height: 40px;
}
button[disabled], .button[disabled] {
  background-color: #DFDFDF !important;
  border-color: #DFDFDF !important;
  color: #acacac !important;
}
@media (max-width: 768px) {
  button, .button {
    font-size: 1.4rem;
  }
}
button:hover, button:focus, button:active, .button:hover, .button:focus, .button:active {
  outline: none;
  color: inherit;
}
button.has-icon, .button.has-icon {
  text-align: left;
  display: inline-flex;
  align-items: center;
}
button.has-icon i, .button.has-icon i {
  display: inline-block;
  margin: 0 0 0 36px;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1;
}
button.outline, .button.outline {
  background-color: transparent;
}
button.outline.c--ocean-blue, .button.outline.c--ocean-blue {
  color: #072A3A;
  border-color: #072A3A;
}
button.fill.c--ocean-blue, .button.fill.c--ocean-blue {
  background-color: #072A3A;
  color: #FFF;
}

.bg--ocean-blue {
  background-color: #072A3A;
  color: #FFF;
}
.bg--ocean-blue * {
  color: inherit;
}

.bg--platinum {
  background-color: #F0F5F6;
}

/* Section animation */
/* BREAKOUT CONTAINER */
.break-out {
  width: 100%;
  position: relative;
  left: 0;
}

form .inputWrapper {
  display: block;
  width: 100%;
  padding-bottom: 24px;
}

.goBack {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  color: #072A3A;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.goBack i {
  font-size: 1.2rem;
  margin: 0 12px 0 0;
}

.error404 {
  background-color: #FFF;
  color: #072A3A;
}
.error404 * {
  color: inherit;
}
.error404 header, .error404 footer {
  display: none;
}
.error404 img {
  margin-bottom: 24px;
}
.error404 p + a {
  display: inline-block;
  margin-top: 60px;
}
.error404 h1 {
  color: #072A3A;
  margin: 0 0 24px;
}
.error404 .component--cta {
  padding: 4px 0;
}
.error404 .component--cta i {
  bottom: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.error404 .component--cta:hover {
  color: inherit;
}
.error404 .component--cta:hover i[class*=down] {
  animation-name: rollDown;
}
.error404 .component--cta:hover i[class*=right] {
  animation-name: rollRight;
}

.page-not-found {
  height: 100vh;
  margin: 0 !important;
  overflow: hidden;
}
.page-not-found img {
  max-width: 120px;
}
.page-not-found .container {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.single-careers .component--brand-colophon {
  height: 184px;
  width: 184px;
  margin: 0 0 60px;
}
.single-careers aside .brand--image img {
  width: 100%;
}
.single-careers aside .brand--content {
  padding: 60px 48px;
}
.single-careers aside .brand--content * {
  color: inherit;
}
.single-careers h1 {
  width: 100%;
  border-bottom: 1px solid #072A3A;
  padding: 0 0 24px;
  margin: 0 0 60px;
}
.single-careers h4 {
  font-size: 2rem;
  opacity: 0.8;
}
.single-careers .the--role {
  padding: 96px 0;
}
.single-careers .the--role a {
  text-decoration: underline;
}
.single-careers a.button {
  margin-top: 36px;
}

@media (max-width: 992px) {
  #wpadminbar {
    display: none !important;
  }
}

.logo {
  height: 125px;
  padding: 30px;
}

.header-options {
  background-color: white;
  padding: 20px;
  text-align: right;
}
.header-options i {
  color: red;
  font-size: 30px;
  padding: 0 12px;
}
.header-options i ~ a {
  padding-right: 20px;
  padding-top: 6px;
  font-weight: 600;
  height: 30px;
}

footer {
  background-color: #E2E2E2;
  padding: 80px 0;
  text-align: center;
}
@media (max-width: 992px) {
  footer {
    padding: 60px 0;
  }
}

.menu-footer-container ul {
  padding: 0 0 36px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu-footer-container li {
  padding: 0 12px;
  margin: 0;
  height: 22px;
  border-left: 2px solid rgba(255, 0, 0, 0.733);
  font-size: 1.2rem;
}
.menu-footer-container li:first-child {
  border-left: 0px;
}
.menu-footer-container a {
  line-height: 1.2;
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 600;
}
.menu-footer-container a:hover:hover {
  color: #1A8FD6;
}

.social-media {
  display: block;
  list-style-type: none;
  width: 400px;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}
.social-media li {
  display: inline-block;
  margin: 10px;
  padding-bottom: 20px;
}
.social-media .fa-facebook-square {
  color: #344F87;
  font-size: 30px;
}
.social-media .fa-facebook-square:hover {
  color: rgb(55, 124, 226);
}
.social-media .fa-twitter {
  color: #1A8FD6;
  font-size: 30px;
}
.social-media .fa-twitter:hover {
  color: rgb(55, 124, 226);
}
.social-media .fa-instagram {
  color: #B84048;
  font-size: 30px;
}
.social-media .fa-instagram:hover {
  color: #fa0011;
}

.credits {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.credits ul {
  margin: 0;
  padding: 0;
}
.credits ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 2px;
  margin: 0;
  font-size: 1.2rem;
  border-left: 2px solid rgba(255, 0, 0, 0.425);
}
.credits ul li:first-child {
  border-left: 0px;
}
.credits ul li a {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px 10px;
  color: rgba(0, 0, 0, 0.596);
}
.credits ul li a:hover {
  color: #1A8FD6;
}

form legend {
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 24px;
  display: block;
  border-bottom: 1px solid rgba(223, 223, 223, 0.4);
}
form label {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  color: rgba(17, 17, 17, 0.4);
  transition: all 0.05s ease-out;
  margin: 0 0 4px;
  cursor: pointer;
}
form input, form textarea {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  font-size: 1.6rem;
  padding: 12px;
  width: 100%;
  border: 1px solid #f9f9f9;
  transition: all 0.15s ease-out;
  cursor: text;
}
form input:active, form input:focus, form textarea:active, form textarea:focus {
  outline: none;
  border-color: #111;
  background-color: #f3f3f3;
}
form input:hover, form textarea:hover {
  background-color: #f3f3f3;
}
form textarea {
  resize: none;
  height: 240px;
}

.wpforms-error {
  font-size: 14px;
  margin: 10px 0;
}

main div.wpforms-container-full {
  width: 100%;
  margin: 0;
}
main div.wpforms-container-full .wpforms-form .wpforms-title {
  font-size: 3.6rem;
  line-height: 1.6;
  color: #072A3A;
  padding-bottom: 12px;
  margin-bottom: 24px;
  font-family: "Lato", serif;
  position: relative;
}
main div.wpforms-container-full .wpforms-form .wpforms-title:after {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  background-color: #072A3A;
  position: absolute;
  top: 100%;
}
main div.wpforms-container-full .wpforms-form .wpforms-description {
  font-family: "Lato", sans-serif;
  color: #072A3A;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0 0 48px;
}
main div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: #072A3A;
}
main div.wpforms-container-full .wpforms-form .wpforms-error {
  padding-top: 5px;
  opacity: 0.6;
}
main div.wpforms-container-full .wpforms-form .wpforms-pagebreak-left {
  padding-top: 10px;
}
main div.wpforms-container-full .wpforms-form .wpforms-field {
  padding: 0 0 20px;
}
main div.wpforms-container-full .wpforms-form .wpforms-field label.wpforms-field-label {
  color: #072a3a;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 15px 0 7.5px 0;
}
main div.wpforms-container-full .wpforms-form .wpforms-field input {
  border-radius: 0;
  width: 100%;
  max-width: unset;
  padding: 12px;
  height: auto;
}
main div.wpforms-container-full .wpforms-form .wpforms-field select {
  border-radius: 0;
  width: 100%;
  max-width: unset;
  padding: 11px;
  height: auto;
  font-family: "Lato", sans-serif;
}
main div.wpforms-container-full .wpforms-form .wpforms-field input[type=checkbox] {
  width: auto;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  cursor: pointer;
}
main div.wpforms-container-full .wpforms-form .wpforms-field input[type=radio] {
  width: auto;
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
  cursor: pointer;
}
main div.wpforms-container-full .wpforms-form .wpforms-field input[type=radio]:checked {
  background-color: #072A3A;
}
main div.wpforms-container-full .wpforms-form .wpforms-field textarea {
  padding: 12px;
}
main div.wpforms-container-full .wpforms-form .wpforms-field.wpforms-field-file-upload {
  padding: 24px 0 36px;
}
main div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-description {
  color: rgba(17, 17, 17, 0.4);
}
main div.wpforms-container-full .wpforms-form .wpforms-field-large {
  padding: 0 0 10px;
}
main div.wpforms-container-full .wpforms-form button[type=submit], main div.wpforms-container-full .wpforms-form button.wpforms-page-button {
  border: 1px solid #072A3A;
  border-radius: 0;
  padding: 16px 20px;
  color: #FFF;
  font-size: 1.8rem;
  line-height: 1;
  font-family: "Lato", serif;
  text-decoration: none !important;
  transition: all 0.25s ease-in-out;
  font-weight: 500;
  user-select: none;
  color: #FFF;
  background-color: #072A3A;
  text-align: left;
  display: inline-flex;
  align-items: center;
}
main div.wpforms-container-full .wpforms-form button[type=submit]:hover, main div.wpforms-container-full .wpforms-form button.wpforms-page-button:hover {
  opacity: 0.8;
  background-color: #072A3A;
  border: 1px solid #072A3A;
}
main div.wpforms-container-full .wpforms-form button[type=submit]:after, main div.wpforms-container-full .wpforms-form button.wpforms-page-button.wpforms-page-next:after {
  content: "\f178";
  color: #FFF;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin: 0 0 0 36px;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1;
}
main div.wpforms-container-full .wpforms-form button.wpforms-page-button.wpforms-page-prev:before {
  content: "\f177";
  color: #FFF;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  margin: 0 36px 0 0;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1;
}
main div.wpforms-container-full .wpforms-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(17, 17, 17, 0.4);
}
main div.wpforms-container-full .wpforms-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(17, 17, 17, 0.4);
}
main div.wpforms-container-full .wpforms-form :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(17, 17, 17, 0.4);
}
main div.wpforms-container-full .wpforms-form :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(17, 17, 17, 0.4);
}
main .wpforms-confirmation-container-full {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
main .wpforms-confirmation-container-full p {
  font-family: "Lato", serif;
  color: #072A3A;
  font-size: 1.8rem;
  line-height: 1.6;
}
main .wpforms-confirmation-container-full p strong {
  font-weight: 600;
}

.component--application-form {
  position: absolute;
  top: min(200px, 20vh);
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
}
@media (max-width: 992px) {
  .component--application-form {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    z-index: 30;
    pointer-events: none;
  }
}
.component--application-form .wpforms-page-indicator.progress {
  display: block;
}
.component--application-form .wpforms-page-indicator.progress .wpforms-page-indicator-steps {
  color: #072a3a;
  font-size: 1.6rem;
}
.component--application-form .application-form--content {
  background-color: #FFF;
  padding: 0;
  border-radius: 6px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  width: min(60vw, 720px);
  max-width: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.35s ease, max-width 0.01s 0.36s linear, padding 0.01s 0.36s linear;
}
.component--application-form .application-form--content.open {
  padding: 48px;
  pointer-events: auto;
  opacity: 1;
  max-width: min(60vw, 720px);
  transition: opacity 0.35s 0.01s ease, max-width 0.01s linear, padding 0.01s linear;
}
@media (max-width: 992px) {
  .component--application-form .application-form--content.open {
    max-width: unset;
    width: 100%;
    height: 100%;
    padding-right: 24px;
    position: fixed;
    border-radius: 0;
  }
}
@media (max-width: 992px) {
  .component--application-form div.wpforms-container-full {
    padding-right: 24px;
    height: 100%;
    overflow: auto;
  }
}
.component--application-form i.fa-times-circle {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: -6px;
  right: -6px;
  color: #072A3A;
  margin: 0;
}
@media (max-width: 992px) {
  .component--application-form i.fa-times-circle {
    top: 24px;
    right: 24px;
    font-size: 36px;
  }
}
.component--application-form #wpforms-486-field_20-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

.component--listing-card {
  position: relative;
  background-color: #072A3A;
  color: #FFF;
  align-self: stretch;
}
@media (max-width: 992px) {
  .component--listing-card {
    padding: 0;
  }
}
.component--listing-card:after {
  content: "";
  height: 12px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #F0F5F6;
}
@media (max-width: 992px) {
  .component--listing-card:after {
    top: calc(100% - 12px);
  }
}
.component--listing-card .card--image {
  width: 100%;
  height: 220px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.component--listing-card .card--image + .card--content {
  padding-top: 48px;
}
.component--listing-card .card--content {
  padding: 72px 60px 40px;
}
.component--listing-card .card--content img {
  max-width: 108px;
  margin: 0 0 24px;
}
.component--listing-card .card--content .cta--holder {
  padding-top: 30px;
}
@media (max-width: 992px) {
  .component--listing-card .card--content {
    padding: 52px 40px 40px;
  }
}
.component--listing-card p, .component--listing-card a {
  opacity: 0.6;
}
.component--listing-card a {
  margin: 0;
}
.component--listing-card .component--cta {
  padding: 4px 0;
}
.component--listing-card .component--cta i {
  bottom: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.component--listing-card .component--cta:hover {
  color: inherit;
}
.component--listing-card .component--cta:hover i[class*=down] {
  animation-name: rollDown;
}
.component--listing-card .component--cta:hover i[class*=right] {
  animation-name: rollRight;
}
.component--listing-card[data-flair=sunrise]:after {
  background-color: #FFD893;
}
.component--listing-card[data-flair=sunset]:after {
  background-color: #FFC9B9;
}
.component--listing-card[data-flair=sky-blue]:after {
  background-color: #A1C6EA;
}
.component--listing-card[data-flair=steel]:after {
  background-color: #CCDBDE;
}
.component--listing-card[data-flair=platinum]:after {
  background-color: #F0F5F6;
}

.cta--holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 96px;
}
@media (max-width: 992px) {
  .cta--holder {
    padding-top: 5vh;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

.component--cta {
  margin-right: 48px;
}
.component--cta:last-of-type {
  margin-right: 0;
}
@media (max-width: 992px) {
  .component--cta {
    margin-right: 0;
    margin: 0 0 12px;
  }
}
.component--cta i {
  margin: 0 0 0 12px;
}
.component--cta span {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#cookie {
  background-color: #FFF;
  position: fixed;
  z-index: 10;
  right: 24px;
  bottom: 24px;
  width: auto;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(17, 17, 17, 0.3);
  -moz-box-shadow: 0px 0px 12px 0px rgba(17, 17, 17, 0.3);
  box-shadow: 0px 0px 12px 0px rgba(17, 17, 17, 0.3);
  border-radius: 6px;
  backdrop-filter: blur(2px);
}
#cookie.pending {
  opacity: 0;
  bottom: 24px;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-name: C_slideup;
}
@media (max-width: 768px) {
  #cookie.pending {
    animation-name: C_M_slideup;
  }
}
#cookie.accepted {
  opacity: 1;
  bottom: 24px;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: C_slidedown;
}
@media (max-width: 768px) {
  #cookie.accepted {
    animation-name: C_M_slidedown;
  }
}
#cookie button {
  border-radius: 50%;
  padding: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#cookie button:hover {
  background-color: #072A3A;
  color: #FFF;
}
#cookie p, #cookie button {
  margin: 0;
}
#cookie p {
  font-size: 1.2rem;
  padding: 0 24px 0 0;
  display: inline-block;
  color: #072A3A;
}
#cookie p a {
  font-size: inherit;
  line-height: inherit;
  color: #072A3A;
}
#cookie p a:after {
  background-color: #072A3A;
}
#cookie button.has-icon i {
  font-size: 1.6rem;
  line-height: 1;
  margin: 0 2px;
}

@keyframes C_slideup {
  from {
    opacity: 0;
    bottom: -12px;
  }
  to {
    opacity: 1;
    bottom: 24px;
  }
}
@keyframes C_M_slideup {
  from {
    opacity: 0;
    bottom: -12px;
  }
  to {
    opacity: 1;
    bottom: 24px;
  }
}
@keyframes C_slidedown {
  from {
    opacity: 1;
    bottom: 24px;
  }
  to {
    opacity: 0;
    bottom: -12px;
  }
}
@keyframes C_M_slidedown {
  from {
    opacity: 1;
    bottom: 0px;
  }
  to {
    opacity: 0;
    bottom: -12px;
  }
}
.block--formal {
  padding: 96px 0;
}
.block--formal h2 {
  color: #072A3A;
  margin: 0 0 12px;
}
.block--formal p + h2 {
  margin-top: 72px;
}
.block--formal a {
  color: #072A3A;
  text-decoration: underline;
}
.block--formal a:hover {
  text-decoration: underline;
}
.block--formal ul.links {
  list-style-type: none;
  position: sticky;
  top: 200px;
}
.block--formal ul.links li {
  margin: 0;
}
.block--formal ul.links a {
  font-family: "Lato", serif;
}

.block--media {
  background-color: #F0F5F6;
  position: relative;
}
.block--media .media--container {
  width: 100%;
  padding: 10vh 8vw;
  min-height: 650px;
  position: relative;
  overflow: hidden;
}
.block--media .media--container a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block--media .media--container a:hover:before {
  transform: scale(1.2) !important;
  opacity: 1 !important;
}
.block--media .media--container a:before {
  color: #FFF;
  font-size: 56px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: all 0.25s ease;
  opacity: 0;
}
.block--media .media--container a:before {
  content: "\f144";
  opacity: 0.6;
}
.block--media video, .block--media .media--image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.block--media .media--image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.block--listing {
  padding: 80px 0 80px;
  background-color: #F0F5F6;
  color: #072A3A;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.block--listing * {
  color: inherit;
}
.block--listing .listing--wrapper *:not(i) {
  color: #FFF;
}
@media (max-width: 992px) {
  .block--listing {
    padding: 60px 0 60px;
  }
  .block--listing .slick-slide {
    height: inherit;
  }
  .block--listing .slick-track {
    display: flex;
  }
}
.block--listing .listing--content {
  width: 600px;
  max-width: 100%;
}
.block--listing .listing--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 60px 72px;
  padding-top: 66px;
}
@media (max-width: 1200px) {
  .block--listing .listing--wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw 3vw;
  }
}
@media (max-width: 992px) {
  .block--listing .listing--wrapper {
    padding-top: 60px;
    grid-template-columns: 1fr;
  }
}
.block--listing .grid-value-override {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1200px) {
  .block--listing .grid-value-override {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .block--listing .grid-value-override {
    grid-template-columns: 1fr;
  }
}
.block--listing[data-type=team] {
  background-color: #FFF;
}
.block--listing[data-type=team] .listing--wrapper *:not(i) {
  color: #072A3A;
}
.block--listing[data-type=team] .listing--wrapper {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 72px 96px;
}
@media (max-width: 1200px) {
  .block--listing[data-type=team] .listing--wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 8vh;
    grid-gap: 5vw 3vw;
  }
}
@media (max-width: 992px) {
  .block--listing[data-type=team] .listing--wrapper {
    grid-template-columns: 1fr;
    padding-top: 6vh;
  }
}
.block--listing .component--cta:hover {
  opacity: 1;
}

.block--content {
  position: relative;
  overflow: hidden;
  color: #072A3A;
}
.block--content * {
  color: inherit;
}
.block--content.flex-row-reverse .grid--container {
  grid-template-columns: 55% 45%;
}
@media (max-width: 992px) {
  .block--content.flex-row-reverse .grid--container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: 40vh auto;
  }
}
@media (max-width: 992px) {
  .block--content.flex-row-reverse .brand-override {
    grid-template-rows: 0vh auto;
  }
}
@media (max-width: 992px) {
  .block--content.flex-row-reverse .brand-override-2 {
    height: 1px;
  }
}
.block--content.flex-row-reverse .image {
  grid-column: 2;
}
@media (max-width: 992px) {
  .block--content.flex-row-reverse .image {
    grid-column: unset;
  }
}
.block--content .content--wrapper {
  padding: 10vh 8vw;
}
@media (max-width: 1200px) {
  .block--content .content--wrapper {
    padding: 20vh 4vw;
  }
}
@media (max-width: 992px) {
  .block--content .content--wrapper {
    padding: 8vh 0;
  }
}
@media (max-width: 568px) {
  .block--content .content--wrapper {
    padding: 6vh 0;
  }
}
.block--content .image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #CCDBDE;
}
.block--content .grid--container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 45% 55%;
}
.block--content .grid--container[data-bgcolor=ocean-blue] {
  background-color: #072A3A;
  color: #FFF;
}
.block--content .grid--container[data-bgcolor=ocean-blue] * {
  color: inherit;
}
.block--content .grid--container[data-bgcolor=platinum] {
  background-color: #F0F5F6;
}
@media (max-width: 992px) {
  .block--content .grid--container {
    grid-template-rows: 40vh auto;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
.block--content .grid--container .image[data-bgcolor=ocean-blue] {
  background-color: #072A3A;
  color: #FFF;
}
.block--content .grid--container .image[data-bgcolor=ocean-blue] * {
  color: inherit;
}
.block--content .component--cta {
  padding: 4px 0;
}
.block--content .component--cta i {
  bottom: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.block--content .component--cta:hover {
  color: inherit;
  opacity: 0.8;
}
.block--content .component--cta:hover i[class*=down] {
  animation-name: rollDown;
}
.block--content .component--cta:hover i[class*=right] {
  animation-name: rollRight;
}
.block--content .image--wrapper {
  display: grid;
  grid-gap: 72px;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  align-items: center;
  padding-top: 72px;
}
@media (max-width: 568px) {
  .block--content .image--wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 36px;
  }
  .block--content .image--wrapper img {
    margin: 0 auto;
  }
}
.block--content .image--wrapper img {
  max-height: 132px;
}
.block--content p a {
  color: rgba(7, 42, 58, 0.8);
  text-decoration: none;
}
.block--content p a:hover {
  text-decoration: underline;
}

.grid-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
@media (max-width: 992px) {
  .grid-image {
    min-height: 300px;
  }
}
.grid-image img {
  max-width: 100%;
  max-height: 100%;
}

.grid-image-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 600px;
}
@media (max-width: 992px) {
  .grid-image-top {
    min-height: 300px;
  }
}
.grid-image-top img {
  max-width: 70%;
  max-height: 70%;
}

@media (max-width: 992px) {
  .itc-brand-override {
    padding-top: 0 !important;
  }
}

.single-career .block--breadcrumbs {
  padding-bottom: 144px;
}

.block--hero + .block--breadcrumbs {
  margin-top: -24px;
}

.block--breadcrumbs {
  padding: 26px 0 22px;
  color: rgba(7, 42, 58, 0.5);
  margin-bottom: 0;
  top: 132px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4;
}
@media (max-width: 992px) {
  .block--breadcrumbs {
    min-height: 30px;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .block--breadcrumbs span, .block--breadcrumbs i {
    display: none;
  }
}
.block--breadcrumbs a, .block--breadcrumbs span, .block--breadcrumbs p {
  color: inherit;
}
.block--breadcrumbs a {
  margin-right: 6px;
  padding: 0;
  margin: 0;
}
.block--breadcrumbs a:hover {
  color: #072A3A;
}
.block--breadcrumbs span.breadcrumb_last {
  margin-left: 6px;
}
.block--breadcrumbs p {
  margin: 0;
}
.block--breadcrumbs p#breadcrumbs a {
  margin-right: 6px;
}
.block--breadcrumbs p#breadcrumbs a + span {
  margin-left: 6px;
}
.block--breadcrumbs .breadcrumb-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.block--breadcrumbs li {
  display: inline-block;
  margin: 0 12px;
  padding: 0 6px;
}
.block--breadcrumbs li a {
  padding: 0;
}
.block--breadcrumbs li a:hover {
  opacity: 0.6;
}
.block--breadcrumbs i.fa-share-nodes {
  font-size: 1.8rem;
  margin-left: 12px;
  cursor: pointer;
}

.block--hero {
  padding: 168px 0 384px;
  background-size: cover;
  background-color: #F0F5F6;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
  margin: 0 0 36px;
  position: relative;
}
@media (max-width: 992px) {
  .block--hero {
    padding: 120px 0 96px;
  }
}
.block--hero * {
  color: inherit;
}
.block--hero p {
  max-width: 560px;
  line-height: 1.8;
  margin: 0;
}
.block--hero .component--flair {
  position: absolute;
  top: 100%;
  right: 48px;
}
@media (max-width: 992px) {
  .block--hero .component--flair {
    right: 0;
  }
}
.block--hero .cta--holder {
  margin-top: 20px;
  padding-top: 20px;
  display: block;
}
.block--hero .cta--holder a {
  display: block;
}
.block--hero .component--cta {
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: all 0.25s ease;
  padding: 6px 0;
  opacity: 1;
}
.block--hero .component--cta i {
  bottom: 0;
  position: relative;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 1rem;
}
.block--hero .component--cta:hover {
  color: inherit;
  opacity: 0.8;
}
.block--hero .component--cta:hover i[class*=down] {
  animation-name: rollDown;
}
.block--hero .component--cta:hover i[class*=right] {
  animation-name: rollRight;
}
.block--hero h1 {
  font-size: 100px;
  text-align: left;
}
.block--hero h4 {
  font-weight: 600;
  font-size: 30px;
  text-align: left;
  text-decoration: underline rgb(15, 194, 15);
}

/* CORE */
/* PAGES */
/* MODULES */
/* - Global */
/* - Plugins */
/* - Components */
/* - Archive */
/* - Blocks */
/* - Third Party */