$white: #FFF;
$black: #111;
$dark-grey: #2F3129;
$mid-grey: #ACACAC;
$light-grey: #DFDFDF;

$platinum: #F0F5F6;

$ocean-blue: #072A3A;
$sky-blue: #A1C6EA;
$sunset: #FFC9B9;
$sunrise: #FFD893;
$steel: #CCDBDE;